<div class="layout-root">
    <sm-wait-indicator [isVisible]="isBusy()"></sm-wait-indicator>
    <sm-modal [isVisible]="getDialog('help')" title="Help" (modalResult)="onModalResultResolved($event)">
        <div class="content">
            <p><b>SimpleSQL</b></p>
            <p>This app is currently in early phase of development, so there is <b>limited</b> usage available at this
                moment:</p>
            <p> - you <b style="color: green;">can</b> query using single statement with or without ";" ending</p>
            <p> - you <b style="color: green;">can</b> query using multiple statement in a batch under standard Postgres
                syntax rules</p>
            <p> - you <b style="color: green;">can</b> execute procedures</p>
            <p> - you <b style="color: green;">can</b> save scripts to files</p>
            <p> - you <b style="color: red;">cannot</b> execute create or replace scripts nor batches, in exception of
                single script not containing ";" in body.</p>
        </div>
    </sm-modal>
    <sm-modal [isVisible]="getDialog('error')" title="Error" (modalResult)="onModalResultResolved($event)">
        <div class="content">
            <p>{{error}}</p>
        </div>
    </sm-modal>
    <sm-modal [isVisible]="getDialog('selectPath')" title="Choose folder" (modalResult)="onModalResultResolved($event)">
        <div class="content" style="display:flex; flex-direction:row;gap:3px;margin-top:5px">
            <input id="path" role="textbox" type="text" class="editable" [value]="selectedPath ? selectedPath : ''"
                [toolTip]="'Choose folder to save script to...'" />
            <button style="width:fit-content;" (click)="browseDirectories()">Choose folder</button>
        </div>
    </sm-modal>
    <div class="ribbon-container">
        <sm-ribbon [commands]="commands$">
        </sm-ribbon>
    </div>
    <div class="editor-container">
        <sm-editor (editValue)="onEditValueChanged($event)">
        </sm-editor>
    </div>
    <div class="data-grid-container">
        <div>
            <sm-tabbed-group [headersSource]="tabs$" (selectedIndex)="onTabItemSelected($event)"
                [allowTabAdding]="true"></sm-tabbed-group>
        </div>
        <sm-data-grid [itemsSource]="resultSet$">
        </sm-data-grid>
    </div>
</div>