 .layout-root {
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    contain: strict;
    min-height: 100%;
  }

  .ribbon-container {
    margin-bottom: 3px;
    grid-row: 1;
  }

  .editor-container {
    flex: 1 1 auto;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    grid-row: 2;
  }

  .data-grid-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    grid-row: 3;
  }

  sm-editor,
  sm-data-grid,
  sm-ribbon {
    display: contents;
  }