.layout-root {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 3px 3px 0px 0px;
    height: 100%;
}

.label {
    background: #FCCF47;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 3px 3px 0px 0px;
}

.tree {
    display: flex;
    flex-direction: column;
}

.branch {
    display: block;
    min-width: fit-content;
    min-height: fit-content;
}

.branch:hover {
    border: 1px;
    border-color: black;
    background: lightyellow;
}