.container {
    display: flex;
    flex-direction: row;
    gap: 0px 3px;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.header,
.caption {
    background: #FCCF47;
    font-weight: bolder;
    width: fit-content;
}

.header {
    padding: 3px;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    flex-direction: row;
}

.caption {
    border-radius: 0px 3px 0px 0px;
}

.add {
    color: green;
    margin-top: 2px;
    transform: translate(0%,-60%);
}

.remove {
    color: red;
    transform: rotate(45deg) translate(0%, -70%);
}

.add,
.remove {
    width: 0.5em;
    height: 0.5em;
}

.add:hover,
.remove:hover {
    color: lightgray;
}

.caption:hover {
    background: lightgray;
    cursor: pointer;
    user-select: none;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.selected {
    color: white;
}