.container {
    display: flex;
    flex-direction: row;
    gap: 0px 3px;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.header, 
.caption {
    background: #FCCF47;
    font-weight: bolder;
    width: fit-content;
}

.header {
    padding: 3px;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    flex-direction: row;
}

.caption {
    border-radius: 0px 3px 0px 0px;
}

.header:hover,
.caption:hover,
.add:hover {
    background: lightgray;
    cursor: pointer;
    user-select: none;
}

.selected {
    color: white;
}