.layout-root {
    background-color:whitesmoke;
    user-select: none;
}

.ribbon-page {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 100%;
}

.ribbon-page-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: stretch;
}

.ribbon-page-group button {
    text-align: left;
}

.button-small {
    border: none;
    display: block;
    background-color: transparent;
}

.button-small:hover {
    background-color: lightgray;
}