<div class="layout-root">
    <div class="ribbon-page" id="page1">
        <div class="ribbon-page-group" id="group1">
            <button class="button-small" id="f2" (click)="onCommand('F2')">F2 - Utwórz awizo</button>
            <button class="button-small" id="f3">F3 - Edytuj awizo</button>
            <button class="button-small" id="f4">F4 - Dodaj detal</button>
        </div>
        <div class="ribbon-page-group" id="group2">
            <button class="button-small" id="f5" (click)="onCommand('F5')">F5 - Odśwież</button>
            <button class="button-small" id="f6">F6 - Dodaj samochody</button>
            <button class="button-small" id="f7">F7 - Przyjęcie dokumentowe</button>
        </div>
        <div class="ribbon-page-group" id="group3">
            <button class="button-small" id="f8">F8 - Zwolnij do kontroli</button>
            <button class="button-small" id="f9">F9 - Wydrukuj przewodnik</button>
            <button class="button-small" id="f10">F10 - Zakończenie kontroli</button>
        </div>
        <div class="ribbon-page-group" id="group4">
            <button class="button-small" id="ctrl+f2">Ctrl+F2 - Usuń awizo</button>
            <button class="button-small" id="ctrl+f4">Ctrl+F4 - Edytuj detail</button>
            <button class="button-small" id="ctrl+f6">Ctrl+F6 - Edytuj samochody</button>
        </div>
        <div class="ribbon-page-group" id="group5">
            <button class="button-small" id="ctrl+d">Ctrl+D - Usuń detal</button>
            <button class="button-small" id="ctrl+e">Ctrl+E - Wycofaj polecenie zamknięcia</button>
            <button class="button-small" id="ctrl+u">Ctrl+U - Pokaż użytkowników kontrolujących dostawę</button>
        </div>
    </div>
</div>
