<div class="window" role="main">
  <app-modal [isVisible]="dlgTrigger === 'dlgConnectionSettings'" title="Connection settings"
    (modalResult)="onModalResultResolved($event)">
    <div style="display:flex; flex-direction:column;gap:3px;margin-top:5px">
      <label for="host">Server address:</label>
      <input id="host" role="textbox" type="text" class="editable" placeholder="host" />
      <label for="host">Database name:</label>
      <input id="database" role="textbox" type="text" class="editable" placeholder="database" />
      <label for="host">Login:</label>
      <input id="user" role="textbox" type="text" class="editable" placeholder="user" />
      <label for="host">Password:</label>
      <input id="password" role="textbox" type="password" class="editable" placeholder="password" />
      <label for="host">SSL mode:</label>
      <select id="ssl" (change)="onSSLModeSelected($event)" class="editable" [selectedIndex]="selectedIndex">
        <option value="disable">Disable</option>
        <option value="prefer">Prefer</option>
        <option value="require">Require</option>
        <option value="verify-ca">Verify CA</option>
      </select>
    </div>
  </app-modal>
  <app-wait-indicator [isVisible]="isWaitIndicatorVisible">
  </app-wait-indicator>
  <div class="titleBar-container">
    <div class="title">
      SimpleSQL
    </div>
    <div class="buttons">
      <button>Minimize</button>
      <button>Resize</button>
      <button class="closeBtn">Close</button>
    </div>
  </div>
  <div class="main-content-container">
    <div class="explorer-container">
      <app-tree-view [itemsSource]="databases$">
      </app-tree-view>
    </div>
    <div class="module-container">
      <app-ribbon [commands]="commands$">
      </app-ribbon>
      <app-editor (editValue)="onEditValueChanged($event)">
      </app-editor>
      <app-data-grid [itemsSource]="resultSet$">
      </app-data-grid>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer-container">
    <app-footer [databaseName]="databaseName$"></app-footer>
  </div>
</div>