.window {
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
  background-color: rgb(16, 46, 19);
}

.main-content-container {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  margin: 3px;
}

.footer-container,
.titleBar-container {
  background: rgb(152, 163, 153);
  text-align: justify;
  height: min-content;
}

.footer-container {
  position: sticky;
  bottom: 0;
}

.explorer-container {
  display: flex;
  margin: 3px;
}

.module-container {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1 1 auto;
  margin: 3px;
}

.titleBar-container {
  vertical-align: top;
  display: flex;
  flex-direction: row;
}

.titleBar-container .title {
  -webkit-app-region: drag;
  color: white;
  font-weight: bolder;
  align-self: stretch;
  margin: 3px;
  width: 100%;
}

.titleBar-container button {
  color: white;
  font-weight: bolder;
  border: none;
  min-width: fit-content;
}

.titleBar-container button:not(.closeBtn) {
  background: inherit;
}

.closeBtn {
  background: red;
}

.titleBar-container .buttons {
  width: min-content;
  display: flex;
  flex-direction: row;
}

.titleBar-container button:hover {
  background: lightgrey;
  cursor: pointer;
}

app-ribbon {
  margin-bottom: 3px;
}

app-editor {
  flex: 1 1 auto;
  margin-bottom: 3px;
}

app-data-grid {
  flex: 1 1 auto;
}