<div class="window" role="main">
  <app-modal [show]="dlgTrigger === 'dlgLogin'" title="Logowanie" (closed)="dlgTrigger = ''">
    <div style="display: flex; flex-direction: column">
      <input role="textbox" type="text" [textContent]="login" placeholder="Login" />
      <input role="textbox" type="text" [textContent]="password" placeholder="Hasło" />
    </div>
  </app-modal>
  <div class="titleBar-container">
    <div class="title">
      SimpleSQL
    </div>
    <div class="buttons">
      <button>Minimize</button>
      <button>Resize</button>
      <button class="closeBtn">Close</button>
    </div>
  </div>
  <div class="main-content-container">
    <div class="explorer-container">
      <app-tree-view>
      </app-tree-view>
    </div>
    <div class="module-container">
      <app-ribbon>
      </app-ribbon>
      <app-editor>
      </app-editor>
      <app-data-grid [itemsSource]="resultSet">
      </app-data-grid>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>