.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.editor {
    border: none;
    background: white;
    color: black;
    outline: none;
    padding: 3px;
    overflow: auto;
    white-space: nowrap;
    flex: 1 1 auto;
    resize: none;
    caret-color: red;
    font-weight: bold;
}

.label {
    background: #FCCF47;
    font-weight: bolder;
    padding: 3px;
    width: fit-content;
    border-radius: 3px 3px 0px 0px;
}

.label:hover {
    background: lightgray;
    cursor: pointer;
    user-select: none;
}