<div class="layout-root">
    <div class="table-container" (scroll)="onScroll($event)">
        <table>
            <thead>
                <tr class="red">
                    <th *ngIf="columnsSource | async">#</th>
                    <th *ngFor="let header of columnsSource | async">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of virtualizedItemsSource | async; let index = index;"
                    (click)="onSelectedItemsChanged($event, item, item.index)"
                    (mouseover)="onSelectionPending($event, item, item.index)"
                    [ngClass]="{backward: index === 3, forward: index === 30, selected: item.isSelected === true}">
                    <td class="normalizedCell">[{{item.index}}]</td>
                    <td *ngFor="let f of item.rowData.keys()">
                        <span class="normalizedCell">
                            {{item.getCellData(f)}}
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="showTimeStamp == true">
                Last update: {{elapsedTime | async}}
            </tfoot>
        </table>
    </div>
</div>