.layout-root {
    user-select: none;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    contain: strict;
}

.label {
    background: #FCCF47;
    font-weight: bolder;
    padding: 3px;
    border-radius: 3px 3px 0px 0px;
    width: fit-content;
}

.label:hover {
    background: lightgray;
    cursor: pointer;
    user-select: none;
}

table {
    overflow: auto;
    white-space: nowrap;
    display: block;
    background: snow;
    flex: 1 1 auto;
}

tbody {
    flex: 1 1 auto;
}

thead th {
    background: #FCCF47;
    border: solid black 1px;
    padding: 3px;
}

tbody td,
th {
    text-align: center;
}

thead th:hover {
    cursor: pointer;
    background: #F8F8F8;
}

tbody tr:nth-child(odd) {
    background: #bef7ff;
}

tbody tr:hover {
    background-color: rgb(219, 247, 201);
    cursor: default;
}

tbody tr {
    max-height: fit-content;
}

tbody tr.selected {
    background-color: yellow;
}

.normalizedCell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}