<div class="layout-root">
    <div class="label">Result set</div>
    <table class="table-bordered" *ngIf="!isWaitIndicatorVisible">
        <thead>
            <tr>
                <th *ngFor="let header of columnsSource">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemsSource | async" 
                (click)="onSelectedItemsChanged($event, item, item.index)"
                (mouseover)="onSelectionPending($event, item, item.index)"
                [className]="item.isSelected === true ? 'selected' : 'unselected'">
                <td *ngFor="let f of fieldNameSource">
                    <span clss="normalizedCell">
                        {{item.getCellData(f)}}
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="showTimeStamp == true">
            Ostatnio odświeżono: {{elapsedTime | async}}
        </tfoot>
    </table>
</div>