 .layout-root {
     user-select: none;
     display: flex;
     flex: 1 1 auto;
     flex-direction: column;
     contain: strict;
 }

 .table-container {
    overflow: auto;
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    contain: strict;
    background:white;
 }

 .table-container::-webkit-scrollbar {
    display: none;
}

 .label {
     background: #FCCF47;
     font-weight: bolder;
     padding: 3px;
     border-radius: 3px 3px 0px 0px;
     width: fit-content;
 }

 .label:hover {
     background: lightgray;
     cursor: pointer;
     user-select: none;
 }

 table {
     text-align: left;
     position: relative;
     border-collapse: collapse;
     background-color: white;
 }

 th,
 td {
     padding: 0.25rem;
 }

 tr.red th {
     background: #FCCF47;
     color: white;
 }

 th {
     background: white;
     position: sticky;
     top: 0;
     /* Don't forget this, required for the stickiness */
     box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
 }
