.container {
    display: flex;
    flex-direction: column;
}

.label {
    background: #FCCF47;
    font-weight: bolder;
    padding: 3px;
    width: fit-content;
    border-radius: 3px 3px 0px 0px;
}

.label:hover {
    background: lightgray;
    cursor: pointer;
    user-select: none;
}

.page {
    display: flex;
    flex-direction: row;
    background: #FCCF47;
    padding: 3px;
}

.group {
    display: flex;
    flex-direction: column;
}

button {
    display: block;
    border: none;
    border-radius: 3px;
    margin: 1px;
    user-select: none;
}

button:hover{
    background: rgb(255, 255, 255);
}